footer {
  background-color: #7ba700;
  margin-top: auto;
  color: whitesmoke;
}

.rodape {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.descricao {
  text-align: center;
  width: 100%;
}

.copyRight {
  text-align: center;
  padding: 8px;
}

.redesSociais {
  width: 20vh;
  margin-top: 32px;
  margin-right: 60px;
  display: flex;
}

.redesSociais img {
  width: 50px;
}

.logoFooter {
  width: 200px;
}