.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #7ba700;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Navbar .nav-links {
    color: antiquewhite;
}

.Navbar .nav-links:hover {
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}
